[submodule "submodules/sfDariahShibUserPlugin"]
	path = submodules/sfDariahShibUserPlugin
	url = https://github.com/CENDARI/sfDariahShibUserPlugin.git
	branch = master
[submodule "submodules/ckanext-dariahshibboleth"]
	path = submodules/ckanext-dariahshibboleth
	url = https://github.com/CENDARI/ckanext-dariahshibboleth.git
	branch = master
[submodule "source/developer/litef-conductor"]
	path = source/developer/litef-conductor
	url = https://github.com/ivan-cukic/litef-conductor.git
	branch = master
